var new_comment = $("<%= escape_javascript(render(:partial => @comment))%>");

$('#comments').prepend(new_comment);
$('#comment_<%= @comment.id %>').hide();

$('#comment_<%= @comment.id %>').fadeIn(600);
$('#new_comment')[0].reset();