<p id="notice"><%= notice %></p>

<div style="margin-bottom: 50px;">
	<%= link_to 'New Post', new_post_path, class: 'ct-btn' %>
</div>

<div class="todo">
    <% @posts.each do |post| %>
          <div class="post-content" style="" >
            <h4 class="post-name">
              <%= post.title %>
              <div style="float: right">
              	<button class="btn btn-default"><%= link_to 'Show', post_path(post) %></button>
              	<% if current_user && current_user.id == post.user_id %>
	              	<button class="btn btn-default"><%= link_to 'Edit', edit_post_path(post)%></button>
	              	<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
	                        post_path(post),
	                        :method => :delete,
	                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
	                        :class => 'btn btn-danger' %>
              	<% end %>
              </div>              
            </h4>
             <p class="post-body">   <%= post.body %> </p>
          </div>


    <% end %>
</div>
<br>

