<div style="margin-bottom: 50px;">
  <%= link_to 'Back', posts_path,  class: 'ct-btn' %>
</div>


<p id="notice"><%= notice %></p>

<div class="post-content">
  <div class="post-title"  style="margin-bottom: 25px; !important;">
    <%= @post.title %>
  </div>

  <div class="post-body"  style="margin-left: 35px; !important;">
    <%= @post.body %>
  </div>
</div>

<div id="comments">
  <%= render :partial => @post.comments.reverse %>
</div>

<div class="add-comment-area">
  <%= form_for([@post, Comment.new], remote: true) do |f| %>
      <p><%= f.label :body, "New Comment" %> <br/>
        <%= f.text_area :body %>
      </p>
      <p><%= f.submit "Add Comment", class:'ct-btn' %> </p>
  <% end %>
</div>
