/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
    width: 90%;
    margin: auto;
    font-size: 16px;
}

.nav {
    height: 50px;
    color: #fff !important;
    text-align: right;
    padding-top: 16px;
    padding-right: 35px;
    background-color: #0091ea;
    margin-bottom: 60px;
}

.nav a {
    color: #fff;
    text-decoration: none;
}

.nav a:hover {
    color: #ffff00;
    text-decoration: none;
    background-color: transparent;
}

.ct-btn {
    padding: 10px 18px;
    background-color: #0091ea;
    color: #fff;
}

a.ct-btn {
    text-decoration: none !important;
    color: #fff;
}

a.ct-btn:hover {
    background-color: #0091ea;
    color: #ffff00;
}
