// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-body {
  padding: 25px 0 0 10px;
  margin-left: 35px;  
}

.add-comment-area {
  margin-left: 45px;
  height: 150px;
  width: 500px;
  border-top: 1px solid #DADADA;
  margin-top: 50px;
  padding-top: 30px;
}

.add-comment-area textarea {
  height: 100px;
  width: 350px;
  font-size: 100%;
}

#comments {
  max-height: 450px;
  overflow: auto;
}