// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.post-body {
  padding: 15px 0px 15px 25px !important;
  border: 1px solid #DADADA;
  margin-top: 30px;
}

.post-title {
  background-color: #DADADA;
  height: 40px;
  padding: 10px;
  margin-bottom: 50px;
}

.post-content {
  margin: 35px 0px;
}

button a:hover, button a:focus, button a:active {
  text-decoration: none;
  background-color: transparent;
  color: #000000;
}