<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="nav">
  <% if user_signed_in? %>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  <% else %>
      <%= link_to 'Login', new_user_session_path, style: 'margin-right: 25px;' %>
      <%= link_to "Sign up", new_user_registration_path %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
